<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>Instagram</title>
    <script src="/js/login.js"></script>
</head>

<body>
    <div id="login_wrap">
       <div id="login_cont">
        <div id="login_box">
            <div class="fade_box">
                <div class="fade_img_list">
                    <img class="fade_img" alt="" src="/img/fadeimg1.png">
                    <img class="fade_img" alt="" src="/img/fadeimg2.png">
                    <img class="fade_img" alt="" src="/img/fadeimg3.png">
                    <img class="fade_img" alt="" src="/img/fadeimg4.png">
                </div>
            </div>
            <div class="input_cont">
                <div class="input_box">
                    <div class="input_form">
                        <img src="/img/logo.png" alt="logo">
                        <form action="/loginProc" method="post" name="loginForm">
                            <input type="text" id="id" name="id" placeholder="전화번호, 아이디 또는 이메일" >
                            <input type="password" id="password" name="password" placeholder="비밀번호">
                            <br>
                            <button type="button" id="login">로그인</button>
                        <div class="hrTag">
                            <hr>
                            <p>OR</p>
                            <hr>
                        </div>
                        <div id="logFcbk">
                            <div class="logoFcbk">
                                <div class="fcbkImg">
                                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button"><img src="/img/googlelogo.png" width="24px" height="24px" alt="fcbkLogo">
                                        <h4>구글 로그인</h4>
                                    </a>
                                    <a href="/oauth2/authorization/naver?redirect_uri=http://localhost:9090/login/oauth2/code/kakao" class="btn btn-secondary active" role="button"><img src="/img/naverlogo.png" width="24px" height="24px" alt="fcbkLogo">
                                        <h4>네이버 로그인</h4>
                                    </a>
                                    <a href="/oauth2/authorization/kakao?redirect_uri=http://localhost:9090/login/oauth2/code/kakao" class="btn btn-secondary active" role="button"><img src="/img/kakaologo.png" width="24px" height="24px" alt="fcbkLogo">
                                        <h4>카카오 로그인</h4>
                                    </a>
                                </div>
                                <div class="forgotPasswd">
                                    <a href="#" id="find_pwd">
                                        비밀번호 찾기 ?
                                    </a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="sign_cont">
                    <div>
                        <p>아직도 아이디가 없나요? <a href="/view/register" id="signup"> 바로 만들어보세요!</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_load"></div>
        </div>
    </div>
</body>
</html>
