<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/js/css/password.css">
    <title>Instagram</title>
</head>

<body>
    <div id="password_wrap">
       <div id="login_cont">
        <div id="allMenu">
            <div class="rghtBar">
                <div class="fldstFirst">
                    <fieldset>
                        <img src="" alt="">
                        <h4>로그인에 문제가 있나요?</h4>
                        <h5>이메일 주소, 전화번호 또는 사용자 이름을 입력하시면 계정에 다시 액세스할 수 있는 링크를 보내드립니다.</h5>
                        
                        <form action="#">
                            <input type="text" id="userInput" placeholder="이메일, 전화번호, 사용자 이름">
    
                            <br>
                            <button id="register" disabled>로그인 링크 보내기</button>
                        </form>
                                        <div class="fldstEnd">
                    <div>
                        <a href="login.html">로그인으로 돌아가기</a>
                    </div>
                </div>
                    </fieldset>
                    
                </div>

            </div>
        </div>
        <footer class="footer_cont">
            <div class="footer_box">
                <div class="footer_info">
                    <div class="footer_info_list">
                        <div class="footer_text"><a>Xeta</a></div>
                        <div class="footer_text"><a>소개</a></div>
                        <div class="footer_text"><a>블로그</a></div>
                        <div class="footer_text"><a>채용 정보</a></div>
                        <div class="footer_text"><a>도움말</a></div>
                        <div class="footer_text"><a>API</a></div>
                        <div class="footer_text"><a>Xeta</a></div>
                        <div class="footer_text"><a>개인정보처리방침</a></div>
                        <div class="footer_text"><a>약관</a></div>
                        <div class="footer_text"><a>위치</a></div>
                        <div class="footer_text"><a>Xnstagram Pro</a></div>
                        <div class="footer_text"><a>Xhreads</a></div>
                        <div class="footer_text"><a>연락처 업로드 & 비사용자</a></div>
                    </div>
                </div>
                <div class="footer_copy">
                    <div class="footer_copy_list">
                        <div class="footer_text"><a>소개</a></div>
                        <div class="footer_text"><a>© 2023 Instagram from Meta</a></div>
                    </div>
                </div>
            </div>
        </footer>
        </div>
    </div>
    <script src="../../../../../../../Users/dita810/Downloads/project/js/password.js"></script>
</body>
</html>
