<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <title></title>
   <script src="https://kit.fontawesome.com/b06a377e67.js" crossorigin="anonymous"></script>
   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/camanjs/3.3.0/caman.full.min.js"></script>
   <link rel="stylesheet" href="/css/registPost.css">
</head>

<body>
   <div id="create_feed_wrap">
      <div id="create_feed_container">
         <div id="create_feed_box">
            <div id="create_background"></div>
            <div id="create_cancle_box">
               <div id="create_cancle_align">
                  <div id="create_cancle_img_box">
                     <i class="fa-solid fa-xmark fa-lg"></i>
                  </div>
               </div>
            </div>
            <div id="edit_img_align1">
               <div id="edit_img_align2">
                  <div id="edit_img_align3">
                     <div id="edit_img_align4">
                        <div id="edit_img_align5">
                           <div id="edit_img_title_wrap">
                              <div id="change_state_div">
                                 <div id="edit_img_title_container">
                                    <div id="edit_img_title_box">
                                       <span id="edit_img_title">새 게시물 만들기</span>
                                    </div>
                                 </div>
                                 <div id="edit_img_title_leftWrap">
                                    <div id="edit_img_title_leftCont">
                                       <div id="edit_img_tilte_leftBox">
                                          <div id="edit_img_title_cover">
                                             <i class="fa-solid fa-arrow-left"></i>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div id="edit_img_title_rightWrap">
                                    <div id="edit_img_title_rightCont">
                                       <div id="edit_img_title_rightBox">
                                          다음
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div id="edit_img_add_wrap">
                              <div id="edit_img_add_container">
                                 <div id="edit_img_add_box">
                                    <div id="edit_img_add_padding">
                                       <img id="edit_img_add_image" src="/img/images.PNG" alt="img_for_file">
                                       <div id="edit_img_add_text">
                                          <span>당신의 소중한 사진을 올려주세요</span>
                                       </div>
                                       <div id="edit_img_add_buttonCont">
                                          <div id="edit_img_add_buttonBox">
                                             <button id="edit_img_add_button">컴퓨터에서 선택</button>
                                          </div>
                                       </div>
                                       <input type="file" id="edit_img_input" accept="image/jpeg, image/png, image/jpg" style="display: none;" multiple>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script src="/js/registPost.js"></script>
</body></html>