body {
    margin: 0;
    padding: 0;
    
}
#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
a {
    text-decoration: none;
}
#allMenu {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding-bottom: 5%;
}
.fldstFirst {
	display: flex;
    justify-content: center;
}
.fldstFirst fieldset {
     width: 100%;
    max-width: 45%;
    height: auto;
    margin: 2em 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
}

.fldstFirst img {
    margin: 0 auto;
    display: block;
}


.fldstFirst input {
    width: 80%;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #fafafa;
    margin: 3%;
    padding: 3%;
}

.fldstFirst input::placeholder {
    color: #000;
    font-size: 12px;
    opacity: 0.4;
}

.fldstFirst button {
    width: 85%;
    height: 35px;
    background-color: #00B9FF;
    border: none;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;

}


.fldstEnd div{
    width: 50%;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 14px;
    margin: 20px auto;
}

.fldstEnd p {
    text-align: center;
}

.fldstEnd a {
    color: #007e73;
}
.footer_cont{
    width: 100%;
    padding: 0 30px;
}

.footer_info_list, .footer_copy_list{
    display: flex;
    justify-content: center;
}
.footer_info_list{
    margin: 0 auto;
}

.footer_text{
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 13px;
    color: #999;
    display: flex;
}