<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.snsProject.model.DAO.BookmarkDAO">
    <insert id="registerBookmark">
        <![CDATA[
            insert into bookmark values(null, #{memberId}, #{postId});
        ]]>
    </insert>
    <delete id="deleteBookmark">
        <![CDATA[
            delete from bookmark where member_Id = #{memberId} and post_Id = #{postId}
        ]]>
    </delete>
    <select id="bookmarkYN" resultType="int">
        <![CDATA[
            select count(*) from bookmark where member_id = #{memberId} and post_id = #{postId};
        ]]>
    </select>
    <select id="countBookmark" resultType="int">
        <![CDATA[
            select count(*) from bookmark where post_id = #{postImageId};
        ]]>
    </select>
</mapper>