<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.snsProject.model.DAO.ChatDAO">

    <!-- Query 문 작성해서 Mapping 하면 됨 -->
    <select id="getAllFollowers" parameterType="long" resultType="map">
        <![CDATA[
            SELECT m.id, m.name,m.email,m.phone,m.url
            FROM follow f
            LEFT OUTER JOIN member m ON m.id = f.follow_member_id
            WHERE f.member_id = #{member_id};
        ]]>
    </select>

    <select id="getAllNotFollowers" resultType="map">
        <![CDATA[
            SELECT r.id AS room_id,r.agent_id,m.id,m.name,m.email,m.phone,m.url
            FROM room r
            LEFT OUTER JOIN member m ON m.id = r.agent_id
            WHERE r.target_id = #{member_id};
        ]]>
    </select>

    <select id="selectRoom" parameterType="long" resultType="long">
        <![CDATA[
            SELECT COUNT(*)
            FROM room
            WHERE agent_id = #{agent_id} and target_id = #{target_id}
            OR
            agent_id = #{target_id} AND target_id = #{agent_id};
        ]]>
    </select>

    <insert id="insertRoom" parameterType="long">
        <![CDATA[
            INSERT INTO room VALUES(NULL,#{agent_id},#{target_id});
        ]]>
    </insert>

    <select id="getRoomId" parameterType="long" resultType="long">
        <![CDATA[
            SELECT id
            FROM room
            WHERE agent_id = #{agent_id} and target_id = #{target_id}
            OR
            agent_id = #{target_id} AND target_id = #{agent_id};
        ]]>
    </select>
</mapper>

